.card {
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


.card-title {
    font-weight: bold;
    color: #263859;
}

.card-text {
    font-size: 1rem;
    color: #263859;
    align-items: center
}

.card i {
    font-size: 1.5rem;
    color: #263859;
}

h2 {
    color: #263859;
}