/* Container for book cards */
.container-card {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Row styling */
.row {
    margin-bottom: 30px;
    /* Space between rows */
}

/* Book card styling */
.book-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s;
}

/* Card hover effect */
.book-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/* Image styling */
.book-card img {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s;
}

/* Image hover effect */
.book-card:hover img {
    transform: scale(1.1);
}

/* Save icon styling */
.book-card .save-icon {
    font-size: 20px;
    color: #777;
    margin-right: 15px;
}

/* Author styling */
.book-card .author {
    font-weight: bold;
    font-size: 13px;
    color: #263859;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
}

/* Author container styling */
.book-card .author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: right;
}

/* Title styling */
.book-card .title {
    font-weight: bold;
    font-size: 15px;
    color: #263859;
    margin-bottom: 10px;
}

/* Rating stars container */
.book-card .rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

/* Stars styling */
.book-card .stars {
    color: #ff9800;
    margin-left: 20px;
}

/* Rating text styling */
.book-card .rating {
    font-size: 16px;
    color: #777;
}