.hero {
    background-color: #FFCA4229;
    width: 100%;
    max-width: 1110px;
    height: auto;
    min-height: 326px;
    margin: 20px auto;
    box-sizing: border-box;
}

.hero h1 {
    margin-bottom: 20px;
    font-family: Almarai;
    color: #1C2A39;
    font-family: Almarai;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: center;
}

.hero input[type="text"] {
    padding: 10px;
    width: 70%;
    height: 45px;
    max-width: 700px;
    border: 1px solid #ced4da;
    border-radius: 5px 0 0 5px;
    /* Rounded corners only on the left side */
    margin-bottom: 0;
    box-sizing: border-box;
    /* Ensure padding doesn't affect the width */
}

.hero button {
    padding: 10px 20px;
    max-width: 150px;
    height: 45px;
    /* Match the input field height */
    align-self: flex-start;
    border-radius: 0 5px 5px 0;
    /* Rounded corners only on the right side */
    margin-left: -1px;
    /* Remove the gap between input and button */
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}