body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.card-text {
    color: #666;
}

.rating .stars i {
    font-size: 1.5rem;
}

.rating .reviews {
    margin-right: 10px;
    font-weight: bold;
    color: #666;
}

.btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
}